In [6]:
import pandas as pd
import numpy as np
import math as mt
from sklearn import linear_model

In [11]:
df = pd.read_csv('Mhouseprices.csv')
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [8]:
#math.floor is to round a deci number to integer
median_bedroom = mt.floor(df.bedroom.median())
print(median_bedroom)

3

In [15]:
#add median_bedroom value to the table with bedroom column in na values.
df.bedroom = df.bedroom.fillna(median_bedroom)
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [17]:
# Create linear regression object
reg = linear_model.LinearRegression()
# Train the model using the training sets with independent variables area, bedroom and age and target is price.
reg.fit(df[['area','bedroom','age']],df.price)
reg.predict([[3000,3,40]])

/opt/anaconda3/envs/ML_coursera/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])